<div class="page-header">
    <h4 class="page-title">Nuevo Projecto</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Projectos</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Nuevo Projecto</a>
        </li>
    </ul>
</div>
<div class="row mx-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Nuevo Projecto</div>
            </div>
            <div class="card-body">
                <form autocomplete="off" [formGroup]="newProject" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="form-group input-file input-file-image text-center">
                                <img class="img-upload-preview" width="500" height="300" [src]="imageURL" alt="preview">
                                <input type="file" class="form-control form-control-file" id="image" name="image" (change)="showPreview($event)" accept="image/*">
                                <label for="image" class="label-input-file btn btn-default btn-round">
                                    Seleccionar Imagen
                                    <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Nombre
                                            <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre del Projecto" aria-label="Nombre del Projecto">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-toggle="tooltip"
                                                    data-placement="top" title="Nombre del Projecto"
                                                    data-original-title="Nombre del Projecto">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages['name']">
                                            <div *ngIf="f?.['name']?.hasError(validation.type) && isFieldValid('name')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subject_period">Materia
                                            <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-toggle="tooltip"
                                                    data-placement="top" title="Seleccione una Materia"
                                                    data-original-title="Seleccione una Materia">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </div>
                                            <select class="form-control" id="subject_period" formControlName="subject_period" (change)="changeSubjectPeriod($event)">
                                                <option [value]="null" disabled>Seleccione una Materia</option>
                                                <option [value]="c.id_subject_period.id" *ngFor="let c of coursesStudent">
                                                    {{ c.id_subject_period.id_subject.name | titlecase }}
                                                </option>
                                            </select>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages['subject_period']">
                                            <div *ngIf="f?.['subject_period']?.hasError(validation.type) && isFieldValid('subject_period')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="context">Contexto
                                            <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="context" formControlName="context" placeholder="Contexto" aria-label="Contexto">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-toggle="tooltip"
                                                    data-placement="top" title="Ej: https://becl.me/contexto"
                                                    data-original-title="Ej: https://becl.me/contexto">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages['context']">
                                            <div *ngIf="f?.['context']?.hasError(validation.type) && isFieldValid('context')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="static_path">Ruta Estática</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="static_path" formControlName="static_path" placeholder="Ruta Estática" aria-label="Ruta Estática">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-toggle="tooltip"
                                                    data-placement="top" title="Ej: src/assets/static"
                                                    data-original-title="Ej: src/assets/static">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages['static_path']">
                                            <div *ngIf="f?.['static_path']?.hasError(validation.type) && isFieldValid('static_path')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="port_container">Puerto Container
                                            <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="port_container" formControlName="port_container" placeholder="Puerto Container" aria-label="Puerto Container">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-toggle="tooltip"
                                                    data-placement="top" title="Ej: 8080"
                                                    data-original-title="Ej: 8080">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages['port_container']">
                                            <div *ngIf="f?.['port_container']?.hasError(validation.type) && isFieldValid('port_container')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description">Descripción
                                            <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                        </label>
                                        <textarea class="form-control" id="description" rows="5" formControlName="description" placeholder="Descripción"></textarea>
                                        <span class="position_textarea" data-toggle="tooltip" data-placement="top" title="Ej: Descripción del proyecto" data-original-title="Ej: Descripción del proyecto">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                        <ng-container *ngFor="let validation of validationMessages['description']">
                                            <div *ngIf="f?.['description']?.hasError(validation.type) && isFieldValid('description')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="form-group">
                                        <label for="url">URL Repositorio
                                            <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-toggle="tooltip"
                                                    data-placement="top" title="Ej: https://github.com/username/repository.git"
                                                    data-original-title="Ej: https://github.com/username/repository.git">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="url" formControlName="url" placeholder="URL Repositorio Publico" aria-label="URL Repositorio Publico">
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages['url']">
                                            <div *ngIf="f?.['url']?.hasError(validation.type) && isFieldValid('url')">
                                                <small class="text-danger">{{ validation.message }}</small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-default" (click)="onBack()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>