<div class="responsive">
    <table class="table table-striped table-hover">
        <thead class="text-center">
            <tr>
                <th>Collaborator</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="getContributorsLength() > 0">
                <tr *ngFor="let i of list">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <img class="avatar-img rounded-circle" [src]="collaborators[i].picture" [alt]="collaborators[i].first_name">
                            </div>
                            <div class="ml-2">
                                <h6 class="mb-0">
                                    {{ collaborators[i].first_name }} {{ collaborators[i].last_name }}
                                </h6>
                                <small class="text-muted">
                                    {{ collaborators[i].first_name | removeWhitespace | lowercase }}@ufps.edu.co
                                </small>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-pill badge-light-primary">
                            {{ getRole(collaborators[i].id) }}
                        </span>
                    </td>
                    <td class="text-center">
                        <div class="form-button-action">
                            <ng-container *ngIf="getRole(collaborators[i].id) !== 'Owner'">
                                <button type="button" data-toggle="tooltip" title="Eliminar"
                                    class="btn btn-link btn-danger" (click)="removeCollaborator(i)"
                                    data-original-title="Eliminar" *appPermissions="['maintainer']">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>