<div class="tab-pane fade show active" id="pills-phases" role="tabpanel" aria-labelledby="pills-phases-tab">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Nueva Fase
        </button>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading d-flex justify-content-between">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    <button class="btn btn-default btn-xs">
                        <i class="fa fa-plus" style="font-size: 10px;"></i>
                    </button>
                </div>
                <p>
                    <small class="text-muted">Last updated: Monday 1:32 AM</small>
                </p>
                <div class="timeline-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias suscipit expedita quasi
                        veritatis eligendi error assumenda, perspiciatis eos quae hic libero. Nisi nulla repellat culpa
                        magnam hic eos aspernatur.
                        Ipsum deleniti minus sed necessitatibus magni tempore dolorum voluptatum aspernatur blanditiis
                        impedit. Earum, assumenda dolore ipsam ab voluptates ipsum rem quae quasi neque dolorum in
                        repellat dolores sit quos voluptatibus.
                        Totam, eaque accusantium. Vero ut quaerat, veniam ad minus delectus reiciendis, beatae
                        repudiandae blanditiis fugit culpa, ipsum iusto hic vel! Atque rem, pariatur esse in officiis
                        omnis alias quos vel!
                    </p>
                    <div class="list-group list-group-file-item list-group-reflow list-group-flush list-group-divider mt-3">
                        <div class="list-group-header"> Archivos </div>

                        <div class="list-group-item align-items-start">
                            <div class="list-group-item-figure">
                                <a href="#" class="tile tile-circle bg-danger">
                                    <span class="fa fa-file-pdf"></span>
                                </a>
                            </div>
                            <div class="list-group-item-body">
                                <h4 class="list-group-item-title text-truncate">
                                    <a href="#">double-broccoli-quinoa.pdf</a>
                                </h4>
                                <p class="list-group-item-text"> 1.07 MB by Emma Griffin </p>
                                <p class="list-group-item-text small"> 12:20pm </p>
                            </div>
                            <div class="list-group-item-figure">
                                <button class="btn btn-sm btn-light">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button class="btn btn-sm btn-light">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div class="list-group-item align-items-start">
                            <div class="list-group-item-figure">
                                <a href="#" class="tile tile-circle bg-danger">
                                    <span class="fa fa-file-image"></span>
                                </a>
                            </div>
                            <div class="list-group-item-body">
                                <h4 class="list-group-item-title text-truncate">
                                    <a href="#">Cajun Chicken Egg Pasta.jpg</a>
                                </h4>
                                <p class="list-group-item-text"> 0.93 MB by Danielle Garza </p>
                                <p class="list-group-item-text small"> 9:32pm </p>
                            </div>
                            <div class="list-group-item-figure">
                                <button class="btn btn-sm btn-light">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button class="btn btn-sm btn-light">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div class="list-group-item align-items-start">
                            <div class="list-group-item-figure">
                                <a href="#" class="tile tile-circle bg-danger">
                                    <span class="fa fa-file-archive"></span>
                                </a>
                            </div>
                            <div class="list-group-item-body">
                                <h4 class="list-group-item-title text-truncate">
                                    <a href="#">looper_build-1209.zip</a>
                                </h4>
                                <p class="list-group-item-text"> 0.53 MB by Rose McCoy </p>
                                <p class="list-group-item-text small"> 3:13am </p>
                            </div>
                            <div class="list-group-item-figure">
                                <button class="btn btn-sm btn-light">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button class="btn btn-sm btn-light">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading d-flex justify-content-between">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    <button class="btn btn-default btn-xs">
                        <i class="fa fa-plus" style="font-size: 10px;"></i>
                    </button>
                </div>
                <p>
                    <small class="text-muted">Last updated: Monday 1:32 AM</small>
                </p>
                <div class="timeline-body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus repellendus minima aut illo
                        quaerat esse inventore aspernatur quis delectus officia magnam similique, reiciendis, vitae ex
                        velit, laborum ea tempora ratione?
                        Natus sapiente praesentium reprehenderit eaque. Eius illo minus accusantium dignissimos
                        temporibus voluptatem culpa. Facere perspiciatis nemo tempora architecto aliquid quos? Possimus
                        dolore repudiandae nostrum sed, enim numquam molestias id sequi.
                        Ex in quis ipsum tempora. Impedit nisi perspiciatis sit ipsa qui quibusdam, fugiat error omnis
                        iusto vitae dolorum, reprehenderit, repellat eveniet aliquam a excepturi vero maiores assumenda!
                        Quaerat, dolores architecto?
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>