<div class="tab-pane fade show active" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">

    <!-- ======= Environment Variables Section ======= -->
    <section id="environment-variable">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Environment Variables</h4>
                    <p>
                        Environment variables are used to configure the environment in which your application runs.
                        They are key-value pairs that are available to your application as environment variables.
                    </p>
                </div>
                <div class="col-md-8">
                    <app-vars></app-vars>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Environment Variables Section ======= -->

    <hr>

    <!-- ======= Collaborators Section ======= -->
    <section id="collaborators">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Collaborators</h4>
                    <p>
                        Collaborators are people who can access your project. You can add
                        collaborators to your project by entering their email address.
                    </p>
                </div>
                <div class="col-md-8">
                    <!--<app-collaborators></app-collaborators>-->
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Collaborators Section ======= -->

    <hr>

    <!-- ======= Tags Section ======= -->
    <section id="tags">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Tags</h4>
                    <p>
                        Tags are used to categorize your project. You can add tags to your project by entering
                        their name.
                    </p>
                </div>
                <div class="col-md-8">
                    <!--<app-tags></app-tags>-->
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Tags Section ======= -->

    <hr>

    <!-- ======= Maintenance Mode Section ======= -->
    <section id="maintenance-mode">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Maintenance Mode</h4>
                    <p>
                        Maintenance mode allows you to disable your project while you are
                        making changes to it. When maintenance mode is enabled, your project
                        will return a 503 status code.
                    </p>
                </div>
                <div class="col-md-8">
                    <!--<app-maintenance-mode></app-maintenance-mode>-->
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Maintenance Mode Section ======= -->

</div>