<div class="tab-pane fade show active" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab" *appPermissions="['write']">

    <!-- ======= Environment Variables Section ======= -->
    <section id="environment-variable" *appPermissions="['write']">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Environment Variables</h4>
                    <p>
                        Environment variables are used to configure the environment in which your application runs.
                        They are key-value pairs that are available to your application as environment variables.
                    </p>
                </div>
                <div class="col-md-8">
                    <app-vars></app-vars>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Environment Variables Section ======= -->

    <hr>

    <!-- ======= Tags Section ======= -->
    <section id="tags" *appPermissions="['write']">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Tags</h4>
                    <p>
                        Tags are used to categorize your project. You can add tags to your project by entering
                        their name.
                    </p>
                </div>
                <div class="col-md-8 align-self-center">
                    <app-tags></app-tags>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Tags Section ======= -->

    <hr>

    <!-- ======= Maintenance Mode Section ======= -->
    <section id="maintenance-mode" *appPermissions="['write']">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Maintenance Mode</h4>
                    <p>
                        Maintenance mode allows you to disable your project while you are
                        making changes to it. When maintenance mode is enabled, your project
                        will return a 503 status code.
                    </p>
                </div>
                <div class="col-md-8 align-self-center">
                    <app-maintenance-mode></app-maintenance-mode>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Maintenance Mode Section ======= -->

    <hr>

    <!-- ======= Delete Project Section ======= -->
    <section id="delete-project" *appPermissions="['maintainer']">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="form-section my-4">Delete Project</h4>
                    <p>
                        Deleting a project will remove all of its files and data. This action cannot be undone.
                    </p>
                </div>
                <div class="col-md-8 align-self-center">
                    <app-delete-project></app-delete-project>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Delete Project Section ======= -->

</div>