<div class="page-header">
    <h4 class="page-title">Deployments</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Logs</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Build Logs</h4>
                <p class="card-category">magic-app</p>
            </div>
            <div class="card-body">
                <div class="monitor">
                    <log-monitor 
                        theme="dark" 
                        [animated]="true" 
                        [icons]="true" 
                        [history]="build">
                    </log-monitor>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Deploy Logs</h4>
                <p class="card-category">magic-app</p>
            </div>
            <div class="card-body">
                <div class="monitor">
                    <log-monitor 
                        theme="dark" 
                        [animated]="true" 
                        [icons]="true" 
                        [history]="deploy">
                    </log-monitor>
                </div>
            </div>
        </div>
    </div>
</div>