<div class="page-header">
    <h4 class="page-title">Lista Projectos</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a [routerLink]="['/dashboard']">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/projects']">Projectos</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a>Lista Projectos</a>
        </li>
    </ul>
</div>
<div class="row row-projects">
    <div class="col-sm-6 col-lg-3">
        <card-project></card-project>
    </div>
</div>