<div class="card">
    <a class="text-dark" [routerLink]="['/projects', project.id, project.context]">
        <img class="card-img-top rounded img-project" src="{{ project.image }}" alt="{{ project.name }}">
    </a>
    <div class="card-body pt-2">
        <h4 class="card-title my-2 fw-bold">
            <a class="text-dark" [routerLink]="['/projects', project.id, project.context]">{{ project.name }}</a>
        </h4>
        <div class="d-flex mb-3">
            <div class="avatar">
                <ng-container *ngIf="getContributorsLength() > 0">
                    <img [src]="contributors[project.id_user].picture" [alt]="contributors[project.id_user].first_name" class="avatar-img rounded-circle">
                </ng-container>
            </div>
            <div class="owner ml-2">
                <span class="badge badge-danger">
                    {{ 'Fundamentos de Programación en Computadores' | truncateText:45 }}
                </span><br>
                <small class="text-muted mr-25">by</small>
                <ng-container *ngIf="getContributorsLength() > 0">
                    <small class="username">
                        <strong> {{ contributors[project.id_user].first_name | titlecase }}</strong>
                    </small>
                </ng-container>
                <span class="text-muted ml-50 mr-25"> | </span>
                <small class="date text-muted">{{ project.created_at | date }}</small>
            </div>
        </div>
        <ng-container *ngIf="project.tags.length > 0">
            <div class="tags">
                <span class="badge" *ngFor="let t of project.tags">
                    {{ t.tag.name }}
                </span>
            </div>
        </ng-container>
        <p class="card-text">{{ project.description! | truncateText:200 }}</p>
        <div class="avatar-group">
            <ng-container *ngIf="getContributorsLength() > 0">
                <div class="avatar" *ngFor="let c of this.project.collaborators">
                    <img [src]="contributors[c].picture" [alt]="contributors[c].first_name" class="avatar-img rounded-circle border border-white">
                </div>
            </ng-container>
        </div>
    </div>
</div>