<div class="card">
    <div class="p-2">
        <!--<img class="card-img-top rounded" src="{{ project.image }}" alt="{{ project.name }}">-->
        <img class="card-img-top rounded" src="assets/img/examples/product1.jpg" alt="Product 1">
    </div>
    <div class="card-body pt-2">
        <span class="badge badge-warning float-right">{{ 'Fundamentos de Programación en Computadores' | truncateText:20 }}</span>
        <!--<h4 class="card-title mb-1 fw-bold">{{ project.name }}</h4>-->
        <h4 class="card-title mb-1 fw-bold">Hola Mundo</h4>
        <p class="card-text">{{ project.description! | truncateText:80 }}</p>
        <p class="text-muted small mb-2">{{ project.created_at | date }}</p>
    </div>
</div>