<div class="page-header">
    <h4 class="page-title">Resumen</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a [routerLink]="['/dashboard']">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/projects']">Proyectos</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a>Resumen</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <ng-container *ngIf="project">
                <a>{{ project.context }}</a>
            </ng-container>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ng-container *ngIf="project">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">{{ project.context }}</h4>
                        <a class="btn btn-primary btn-round ml-auto" href="https://becl.me/{{project.context}}" target="_blank" rel="noopener noreferrer">
                            <i class="fas fa-rocket"></i>
                            Open app
                        </a>
                    </div>
                </ng-container>
            </div>
            <div class="card-body">
                <ng-container *ngIf="isProjectEmpty()">
                    <ul class="nav nav-pills nav-primary" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-overview-tab" data-toggle="pill" [routerLink]="['overview']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-overview"
                                aria-selected="true">Resumen
                            </a>
                        </li>
                        <li class="nav-item" *appPermissions="['write']">
                            <a class="nav-link" id="pills-resources-tab" data-toggle="pill" [routerLink]="['resources']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-resources"
                                aria-selected="false">Recursos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-metrics-tab" data-toggle="pill" [routerLink]="['metrics']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-metrics"
                                aria-selected="false">Métricas
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-activity-tab" data-toggle="pill" [routerLink]="['activity']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-activity"
                                aria-selected="false">Actividad
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-access-tab" data-toggle="pill" [routerLink]="['access']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-access"
                                aria-selected="false">Acceso
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-phases-tab" data-toggle="pill" [routerLink]="['phases']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-phases"
                                aria-selected="false">Fases
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-deployments-tab" data-toggle="pill"
                                [routerLink]="['deployments']" [routerLinkActive]="['active']" role="tab"
                                aria-controls="pills-deployments" aria-selected="false">Despliegues
                            </a>
                        </li>
                        <li class="nav-item" *appPermissions="['write']">
                            <a class="nav-link" id="pills-settings-tab" data-toggle="pill" [routerLink]="['settings']"
                                [routerLinkActive]="['active']" role="tab" aria-controls="pills-settings"
                                aria-selected="false">Configuración
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content my-5" id="pills-tabContent">
                        <router-outlet></router-outlet>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>