<div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
    <ng-container *ngIf="!isCourseEmpty() && getContributorsLength() > 0">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid rounded img-project" [src]="[project.image]" [alt]="project.context">
                <div class="d-flex mt-3">
                    <div class="avatar">
                        <ng-container *ngIf="!isContributorsEmpty()">
                            <img class="avatar-img rounded-circle" [src]="collaborators[project.id_user].picture" [alt]="collaborators[project.id_user].first_name">
                        </ng-container>
                    </div>
                    <div class="ml-2">
                        <span class="badge badge-danger">
                            {{ course.id_subject.name }}
                        </span><br>
                        <small class="text-muted mr-25">by</small>
                        <ng-container *ngIf="getContributorsLength() > 0">
                            <small class="username">
                                <strong> {{ collaborators[project.id_user].first_name | titlecase }}</strong>
                            </small>
                        </ng-container>
                        <span class="text-muted ml-50 mr-25"> | </span>
                        <small class="date text-muted">{{ project.created_at | date }}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="page-title mb-3">{{ project.name }}</h3>
                <ng-container *ngIf="project.tags && project.tags.length > 0">
                    <div class="tags">
                        <span class="badge" *ngFor="let t of project.tags">
                            {{ t.tag.name }}
                        </span>
                    </div>
                </ng-container>
                <p class="text-justify">{{ project.description }}</p>
                <ng-container *ngIf="getContributorsLength() > 1">
                    <h4 class="font-weight-bold">Colaboradores
                        <span class="badge badge-count badge-danger">
                            {{ project.collaborators.length }}
                        </span>
                    </h4>
                    <div class="d-flex align-items-center mb-2" *ngFor="let c of project.collaborators">
                        <div class="avatar">
                            <img class="avatar-img rounded-circle" [src]="collaborators[c].picture" [alt]="collaborators[c].first_name">
                        </div>
                        <div class="ml-2">
                            <h6 class="mb-0">{{ collaborators[c].first_name }} {{ collaborators[c].last_name }}</h6>
                            <small class="text-muted">Colaborador</small>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>