<div class="page-header">
    <h4 class="page-title">Carge de Materias por Periodo</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a [routerLink]="['/dashboard']">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a>Academico</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/academics/subject-period']">Materia Periodo</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a>Agregar</a>
        </li>
    </ul>
</div>
<div class="row mx-5">
    <ng-container *ngIf="!show">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Subir Archivos</div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-3">
                        <div class="col-2">
                            <h4>Archivo de materias de ejemplo (.xlsx)</h4>
                        </div>
                        <div class="col-2">
                            <a href="students-projects/assets/files/subject-period.xlsx" download="subject-period.xlsx">
                                <i class="fas fa-file-excel fa-2x"></i>
                                <span class="sub-item"> Descargar plantilla</span>
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col text-center">
                            <form class="dropzone">
                                <div class="dz-message mb-3" data-dz-message>
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message"><strong>Cargar archivo</strong></h4>
                                    <span class="note">Archivos compatibles: xlsx</span>
                                </div>
                                <div class="fallback">
                                    <input class="form-control-file" type="file" hidden id="input-custom-file"
                                        accept=".xls, .xlsx" style="display:none;" (change)="onFileChange($event)">
                                    <label for="input-custom-file" class="btn btn-primary text-white">Cargar
                                        Archivo</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-2">
                            <h4>Paginación</h4>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <select class="form-control" id="limit" (change)="onLimitChange($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action text-center">
                    <button class="btn btn-primary" [disabled]="!isFileSelected()" (click)="onUpload()">Cargar</button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="show">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Lista de Materias por Periodo</div>
                </div>
                <div class="card-body">
                    <!-- Table -->
                    <ngx-datatable class="material striped" [columnMode]="'flex'" [headerHeight]="50"
                        [footerHeight]="50" rowHeight="auto" [rows]="rows" [limit]="limit">

                        <!-- Position Column -->
                        <ngx-datatable-column name="#" [flexGrow]="0.5">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                {{ (rowIndex + 1) }}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- ID Subject Period Column -->
                        <ngx-datatable-column name="Código Materia" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row?.id_subject }}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Name Teacher Column -->
                        <ngx-datatable-column name="Código Docente" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row?.id_teacher }}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Group Column -->
                        <ngx-datatable-column name="Grupo" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row?.group }}
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                    <!-- End Table -->
                </div>
                <div class="card-action text-center">
                    <button class="btn btn-primary" (click)="onSubmit()">Guardar</button>
                    <button class="btn btn-default" (click)="onCancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>