<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-11 d-flex align-items-center justify-content-between">
                <h1 class="logo">
                    <a [routerLink]="['/']">Students Projects</a>
                </h1>
                <!-- Navbar -->
                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a class="nav-link scrollto" [routerLink]="['/']" fragment="hero">Home</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" [routerLink]="['/']" fragment="about">Acerca de</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" [routerLink]="['/']" fragment="team">Equipo</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1000">
            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url(assets/img/home/hero-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Te facilitamos tus despliegues</h2>
                            <p class="animate__animated animate__fadeInUp">Automatizamos la forma de desplegar tus
                                proyectos web, realizados en clase, solo necesitas un conocimiento basico en docker.</p>
                            <a class="btn-get-started scrollto animate__animated animate__fadeInUp"
                                [routerLink]="['/auth/login']">
                                Iniciar sesión
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<main id="main">
    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 box">
                    <i class="bi bi-cloud-arrow-up"></i>
                    <h4 class="title">
                        <a><b>Despliegue</b></a>
                    </h4>
                    <p class="description">Automatizamos la forma de desplegar tu aplicativo web.</p>
                    <p class="description">No importa en que lenguaje y/o framework este desarrollado tu aplicativo,
                        solo necesitas que tenga soporte web.</p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="bi bi-stack"></i>
                    <h4 class="title">
                        <a><b>Docker</b></a>
                    </h4>
                    <p class="description">Es necesario que tengas un conocimiento muy basico en docker para que puedas
                        desplegar tu aplicativo web.</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="bi bi-braces"></i>
                    <h4 class="title">
                        <a><b>Proyectos de aula</b></a>
                    </h4>
                    <p class="description">El proyecto web que estas desarrollando o desarrollaste, podras ponerlo en
                        produccion.</p>
                    <p class="description"><b>Importante</b> tienes que estar asignado a una asignatura.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h3>Acerca de nosotros</h3>
                <p>Somos una herramienta web, que te facilita la forma de desplegar tu aplicativo web, ya que hemos
                    creado una forma automatizada, solo necesitamos que sigas una serie de pasos y en menos de 5min tu
                    aplicativo ya estara en produccion.</p>
            </header>

            <div class="row about-cols">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="about-col h-95">
                        <div class="img">
                            <img src="assets/img/home/about/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon">
                                <i class="bi bi-hand-index"></i>
                            </div>
                        </div>
                        <h2 class="title"><a href="#">Facilidad</a></h2>
                        <p>Facilidad de uso, solo necesitas seguir una serie de pasos y en menos de 5min tu aplicativo
                            ya estara en produccion.</p>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="about-col h-95">
                        <div class="img">
                            <img src="assets/img/home/about/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon">
                                <i class="bi bi-emoji-sunglasses"></i>
                            </div>
                        </div>
                        <h2 class="title"><a href="#">Sencillez</a></h2>
                        <p>Los pasos son muy sencillos, solo necesitas tener un conocimiento basico en docker.</p>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="about-col h-95">
                        <div class="img">
                            <img src="assets/img/home/about/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon">
                                <i class="bi bi-cloud-haze2-fill"></i>
                            </div>
                        </div>
                        <h2 class="title">
                            <a href="#">Rapidez</a>
                        </h2>
                        <p>En menos de 5min tu aplicativo ya estara en produccion.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3>EQUIPO</h3>
                <p>Miembros que participaron en el desarrollo de este proyecto.</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <img src="assets/img/home/people/david_rojas.png" class="img-fluid" alt="David Fernando Rojas Sachica">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>David Fernando Rojas Sachica</h4>
                                <span>Backend Developer</span>
                                <div class="social">
                                    <a href="https://github.com/Sachica" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/Sachica" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/david-sachica-6a762520b/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <img src="assets/img/home/people/manuel_coronel.jpg" class="img-fluid"
                            alt=">Manuel Alejandro Coronel Andrade">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Manuel Alejandro Coronel Andrade</h4>
                                <span>Backend Developer</span>
                                <div class="social">
                                    <a href="https://github.com/ManuelCoronel" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/ManuelCoronel" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/manuel-alejandro-coronel-andrade-305288196/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <img src="assets/img/home/people/stiward_carrillo.jpg" class="img-fluid"
                            alt="Stiward Jherikof Carrillo Ramírez">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Stiward Jherikof Carrillo Ramírez</h4>
                                <span>Frontend Developer</span>
                                <div class="social">
                                    <a href="https://github.com/stiwardjherikofcr" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/stiwardjherikofcr" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/stiward-jherikof-carrillo-ram%C3%ADrez-10b6b31a4/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/img/home/people/jose_rafael.jpg" class="img-fluid" alt="Jose Rafael Peña Mena">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Jose Rafael Peña Mena</h4>
                                <span>Designer & Documentation</span>
                                <div class="social">
                                    <a href="https://github.com/joserafaelpm" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/joserafaelpm" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/jose-rafael-pe%C3%B1a-mena-434897236/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/img/home/people/lopez.jpg" class="img-fluid" alt="Jose Rafael Peña Mena">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Cristian Andrés López</h4>
                                <span>Backend Developer & Documentation</span>
                                <div class="social">
                                    <a href="https://github.com/CRISTIANLOPEZ16" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/joserafaelpm" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/jose-rafael-pe%C3%B1a-mena-434897236/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/img/home/people/mancilla.jpg" class="img-fluid" alt="Jose Rafael Peña Mena">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Jhoan Alfredo Mancilla</h4>
                                <span>Backend Developer & Documentation</span>
                                <div class="social">
                                    <a href="https://github.com/JhoanMancilla" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/joserafaelpm" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/jose-rafael-pe%C3%B1a-mena-434897236/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/img/home/people/mora.jpg" class="img-fluid" alt="Jose Rafael Peña Mena">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Manuel Felipe Mora Espitia</h4>
                                <span>Frontend Developer & Documentation</span>
                                <div class="social">
                                    <a href="https://github.com/FelipeM09" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://gitlab.com/joserafaelpm" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-gitlab"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/jose-rafael-pe%C3%B1a-mena-434897236/" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Students Projects</h3>
                    <p style="text-align: justify; ">Herramienta web, que facilita el despliegue de aplicaciones web,
                        sin importar el lenguaje y/o framework en el que este desarrollado, solo es importante que
                        tengas un conocimiento muy basico en dockper y esta asignado a una asignatura para que puedas
                        desplegar.</p><br>
                    <div style="text-align: center;">
                        <img class="img-footer" src="assets/img/home/logoIngSistemas.png">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces Utiles</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Acerca de Nosotros</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Servicio</a></li>
                    </ul>
                    <br>
                    <div style="text-align: center;">
                        <img class="img-footer-logo" src="assets/img/home/logoufpsvertical.png">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contactanos</h4>
                    <address>
                        Avenida Gran Colombia No. 12E-96 Barrio Colsag<br>
                        San José de Cúcuta, Colombia<br>
                        <strong>Teléfono:</strong> +57 7 5776655<br>
                        <strong>Email:</strong> <a href="mailto:ingsistemascloud@ufps.edu.co"> ingsistemascloud@ufps.edu.co</a><br>
                    </address>

                    <div class="social-links">
                        <a href="https://twitter.com/UFPSCUCUTA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                            class="twitter">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/Ufps.edu.co" class="facebook">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/ufpscucuta/?hl=es" class="instagram">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://github.com/SILUX-UFPS" class="github">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="https://ingsistemas.cloud.ufps.edu.co" class="linkedin">
                            <i class="bi bi-globe2"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Importante</h4>
                    <p style="text-align: justify;">Recuerda que para poder usar nuestra herramientas debes estar
                        registrado con el correo institucional y tu docente debe asignarte a la asignatura que estas
                        matriculado, si el no realiza lo anterior, no podras desplegar el aplicativo web.</p>
                    <div style="text-align: center;">
                        <img class="img-footer" src="assets/img/home/SILUX-solo-png.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            {{ anio }} &copy; Copyright. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://github.com/Students-Teachers-Projects/students-projects-app">NigthDevs</a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a class="back-to-top d-flex align-items-center justify-content-center" [routerLink]="['/']" fragment="hero">
    <i class="bi bi-arrow-up-short"></i>
</a>
