<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="../../../../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Hizrian
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a [routerLink]="['/account/profile']" style="cursor: pointer;">
                                    <span class="link-collapse">Perfil</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/account/settings']" style="cursor: pointer;">
                                    <span class="link-collapse">Ajustes</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/home']" style="cursor: pointer;">
                                    <span class="link-collapse">Cerrar Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <ng-container *ngFor="let item of menuItems">
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">{{item.title}}</h4>
                    </li>
                    <ng-container *ngFor="let subItem of item.children">
                        <li routerLinkActive="active" class="nav-item">
                            <a [routerLink]="[subItem.path]" style="cursor: pointer;">
                                <i class="{{subItem.icon}}"></i>
                                <p>{{subItem.name}}</p>
                            </a>
                            <ng-container *ngIf="subItem.paths">
                                <ul class="nav nav-collapse">
                                    <ng-container *ngFor="let subItemPath of subItem.paths">
                                        <li routerLinkActive="active" class="nav-item">
                                            <a [routerLink]="[subItemPath.path]" style="cursor: pointer;">
                                                <span class="sub-item">{{subItemPath.name}}</span>
                                            </a>
                                        </li>
                                    </ng-container>
                                </ul>
                            </ng-container>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->