<div class="modal fade" id="addRowModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h3 class="modal-title">Credenciales de la Base de Datos</h3>
                <button type="button" class="close" aria-label="Close" (click)="closedModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-italic">
                    Recuerde guardar los credenciales de la base de datos. De lo contrario no podrá
                    acceder a ella. Estos credenciales son validos para el acceso al Sistema de Gestión de Base de
                    Datos de MariaDB y PostgreSQL.
                </p>
                <form autocomplete="off" [formGroup]="formUserSGDB" (ngSubmit)="createUserSGDB()" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Usuario</label>
                                <input type="text" class="form-control" name="username" [value]="username" readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label for="password">Contraseña
                                    <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese la contraseña">
                                    <div class="input-group-prepend">
                                        <span data-toggle="tooltip" data-placement="top"
                                            title="La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una minúscula y un número"
                                            data-original-title="Contraseña">
                                            <i class="fas fa-question-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-bd">
                        <button type="submit" class="btn btn-primary" [disabled]="formUserSGDB.invalid">Guardar</button>
                        <button type="button" class="btn btn-default" (click)="closedModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>