<div class="page-header">
    <h4 class="page-title">Lista Cursos</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a [routerLink]="['/dashboard']">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a>Academico</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/academics/courses']">Cursos</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a>Lista</a>
        </li>
    </ul>
</div>
<div class="row row-projects">
    <div class="col-sm-6 col-lg-3" *ngFor="let course of courses">
        <card-course [course]="course"></card-course>
    </div>
</div>